@font-face {
    font-family: encode-sans;
    src: url(../font/EncodeSans-Regular.ttf);
}

@font-face {
    font-family: encode-sans;
    src: url(../font/EncodeSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: encode-sans;
    src: url(../font/EncodeSans-Regular.ttf);
    font-style: italic;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em encode-sans, 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    background: #FFFFFF;/*#eeebff;*/
    color: #555;
}

#main, #logo, #menubar, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: #0082d2;
    height: 148px;
    padding-bottom: 22px;
    max-width: 100%;
}

#logo {
    height: 126px;
    margin-left: 50px;
    background: transparent;
}

#logo #logo_text {
    display: inline-block;
    padding-top: 25px;
    left: 0;
}

#logo img {
    height: 100px;
    width: auto;
}

/*#site_content {
  overflow: hidden;
}.carousel, */
.carousel-inner {
    max-height: 460px;
    height: 100%;
}

.carousel-caption {
    bottom: 52% !important;
}
.carousel-caption h3 {
    font-size: 66px;
    font-weight: normal;
}

#sidebarLoginPhysician {
    z-index: 999;
    display: none;
    position: absolute;
    right: 0;
    width: 224px;
    margin: 0 35px 0 0;
}

.sidebar_item {
    background: white;
    border-radius: 15px;
    border: 2px solid #67c9e0;
    padding: 0 15px;
    color: #555;
    /*width: 192px;*/
}

.sidebar_item h3 {
    margin: 10px 0 10px 0;
    font-size: 15px;
    color: #555;
    font-weight: bold;
}
.sidebar_item label { 
    font-weight: 300;
    margin-bottom: 0;
    font-size: 13px;
}

#footer {
    width: 100%;
    font-size: 100%;
    height: 30px;
    padding: 28px 0 5px 0;
    text-align: center;
    /*background: #0082d2;*//*#a6bddb;*/
}

#footer p {
    color: #4a4a4a;
    font-size: 15px;
    line-height: 1.7em;
    padding: 0 0 10px 0;
}

.login {
	color: #5D5D5D; 
	border: 1px solid #BBB;
	padding: 4px; 
	font: 100% encode-sans, Verdana, Arial, Helvetica, sans-serif;
}

.button {
	font: 100% encode-sans, 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	background: #5A5A5A;
	box-shadow: none;
	border: none;
	color: #FFFFFF;
	padding: 5px 15px 5px 15px;
	width: 80px;
}

.button:hover {
	background: #c2bdbb;
	cursor: pointer;
}

.buttonRequestTrial {
    font: 100% encode-sans, 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    background: #5A5A5A;
    box-shadow: none;
    border: none;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
}

.buttonRequestTrial:hover {
    background: #c2bdbb;
    cursor: pointer;
}
#contentAbout {
    max-width: 1360px;
    width: 100%;
    margin: auto;
    padding-top: 70px;
}
#contentAbout img {
    vertical-align: top;
}
.info h6 {
    font-size: 36px;
    color: #868686;
    font-weight: 400;
    line-height: 53px;
    text-align: center;
}
.info p {
    font-size: 20px !important;
    color: #868686;
    text-align: center;
    padding-top: 10px;
}
.aboutDiv img {
    display: inline-block;
}
.aboutDiv .info {
    display: inline-block;
    max-width: 535px;
    padding-left: 40px;
    margin-right: 45px;
    vertical-align: top;
}
.aboutDiv .infoR {
    display: inline-block;
    text-align: center;
}
.aboutDiv p {
    font-size: 150%;
    line-height: 1.4em;
}

.aboutDiv h1 {
    color: #868686;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}
iframe.ytb-embed {
    max-width: 96% !important;
    display: block;
    margin: 10px auto;
}
a.watchVideo {
    background-color: rgba(57, 129, 212, 1);
    border: solid transparent 2px;
    cursor: pointer !important;
    height: 40px;
    width: 210px;
    color: #fff;
    display: block;
    border-radius: 20px;
    line-height: 36px;
    font-size: 20px;
    margin: auto; 
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
a.watchVideo:hover{
    background-color: rgba(0, 93, 150, 1);
    text-decoration: none;
    color: #fff;
}
.createNewAccount {
    background-color: rgba(255, 255, 255, 1);
    border: solid transparent 2px;
    cursor: pointer !important;
    height: 40px;
    width: 270px;
    color: #3981D4;
    display: block;
    border-radius: 20px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    margin: auto; 
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.38);
}
.createNewAccount:hover {
    background-color: rgba(0, 93, 150, 1);
    color: #fff;
}
.frameYoutube {
    max-width: 730px;
    display: inline-block;
    vertical-align: middle;
}
.infoY {
    display: inline-block;
    max-width: 540px;
    color: #868686;
    vertical-align: middle;
    margin-left: 65px;
}
.infoY ul {
    list-style: none;
    margin-top: 12px;
}
.infoY ul li {
    line-height: 30px;
}
.featuresDiv {
    margin-left: 30px;
}

.featuresDiv p {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 150%;
    line-height: 2.5em;
}

#introText {
    font-size: 180%;
    font-weight: bold;
    max-width: 1200px;
    margin: 30px auto 30px auto;
}

.blockDiv {
    background: #0082d2;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.blockDiv h1 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 49px;
}
.blockDiv p {
    font-size: 25px;
}
.swiper-container {
    height: 600px;
    max-width: 1000px;
}

.swiper-container img {
    width: auto;
    height: 600px;
}

.topmenu {
    display: inline-block;
    float: right;
    padding: 10px;
    margin-top: 69px;
}

.topmenuItem {
    color: white;
    display: inline-block;
    font-size: 19px;
    padding: 5px 10px 5px 10px;
}

.topmenuItem a {
    color: white;
    text-decoration: none;
}

#divAvailSoon p {
    display: inline-block;
    line-height: 60px;
    margin: 0 30px 0 0;
    vertical-align: top;
}

#googlePlayLink {
    height: 60px;
}

#googlePlayLink:hover {
    cursor: pointer;
}

.descrDiv {
    max-width: 1360px;
    margin: 20px auto 20px auto;
}

.descrDiv h1 {
    margin-bottom: 10px;
    width: 100%;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 20px solid #67c9e0;
    margin: 0 auto 0 auto
}

div#centerContent {
    height: 468px;
}
#centerContent img {
    width: 100%;
}

.signUpDiv {
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-right: 100px;
    margin-left: 50px;
}
.signUpDiv2 {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 20px;
}

.signUpDiv2 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signUpDiv h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.signUpDiv img {
    display: inline;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
    width: 30px;
}

.signUpDiv span {
    font-size: 16px;
    margin-right: 10px;
}

.signUpDiv p {
    margin-bottom: 15px;
}

.signUpContainerDiv {
    width: 100%;
}

.signUpInnerDiv {
    text-align: center;
}

.signUpFeatureDiv#free {
    margin-bottom: 10px;
}

.signUpFeatureDiv#secure {
    margin-top: 10px;
}

.button-dark {
    background-color: #0082d2;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
}

.button-dark:hover {
    background-color: #67c9e0;
    cursor: pointer;
}

#btnRequestTrial {
    max-width: 215px;
}
.welcomeDiv {
    color: white;
    display: inline-block;
    float: right;
    font-size: 16px;
    position: absolute;
    right: 20px;
    text-align: right;
    width: 20%;
    top: 38px;
}
.contenedorAbout {
    display: inline-block;
    vertical-align: top;
}
.topmenuItem a:hover {
    text-decoration: none;
}
@media screen and (min-width: 1540px){
    .carousel-caption {
        bottom: 62% !important;
    }
}
@media (max-width: 1539px) and (min-width: 1199px) {
    .carousel-caption h3 {
        font-size: 54px !important;
        font-weight: normal;
    }
     .carousel-caption {
        bottom: 56% !important;
    }
}

@media (max-width: 1200px) and (min-width: 700px) {
    .carousel-caption h3 {
        font-size: 32px !important;
        font-weight: normal;
    }
     .carousel-caption {
        bottom: 34% !important;
    }
    #contentAbout { 
        padding-left: 25px; 
        padding-top: 20px;
    }
    #contentAbout img {
        max-width: 90%;
    }
    .info h6 { 
        font-size: 29px; 
        line-height: 38px;
    }
    .infoR{
        display: block !important;
        text-align: center;
        padding-top: 60px;
        margin: auto;
        width: 90%;
    }
    .descrDiv { 
        text-align: center;
    }
    #logo img {
        max-height: 70px;
        width: auto;
    }
    .contenedorAbout{
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .infoY {
        margin-left: 0;
    }
    .welcomeDiv {
        width: 27%;
    }
}

@media (max-width: 699px) {
    div#centerContent {
        height: auto;
        display: block;
    }
    .contenedorAbout {
        vertical-align: middle;
    }
    .contenedorAbout img {
        width: 32%;
        padding-left: 10px;
        vertical-align: middle !important;
    }
    #logo {
        margin-left: 10px;
    }
    #logo #logo_text {
        max-width: 185px;
    }
    #logo img {
        max-width: 185px;
        width: 100%;
        height: auto;
    }
    .topmenu {
        margin-top: 19px;
    }
    .topmenuItem {
        font-size: 16px;
    }
    
    .welcomeDiv {
        width: 37%;
    }
    .aboutDiv h1 {
        font-size: 22px;
        line-height: 28px;
    }
    .info h6 {
        font-size: 26px;
        line-height: normal;
    }
    .info p {
        font-size: 18px;
    }
    .aboutDiv .info{
        max-width: 360px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
    .aboutDiv .infoR {
        display: block;
        text-align: center;
    }
    /*.infoY {
        margin-left: 25px;
    }*/
    .infoY {
        width: 90%;
        margin: auto;
        display: block;
    }
    .infoY ul li {
        line-height: 24px;
        font-size: 17px;
        padding-bottom: 14px;
        text-align: center;
    }
    .blockDiv h1 {
        font-size: 30px;
    }
    .blockDiv p {
        font-size: 20px;
    }
    
    .carousel-caption h3 {
        font-size: 20px !important;
        font-weight: normal;
    }
    .carousel-caption {
        bottom: 26% !important;
    }
 
}
@media (max-width: 480px) {
    .aboutDiv .info {
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 240px;
    }
    .info h6 {
        font-size: 18px;
        line-height: normal;
    }
    .info p {
        font-size: 15px !important;
    }
    .infoR img {
        width: 100%;
    }
}

