.hide {
  display: none !important;
}
.disabled {
  background-color: #7a7a7a !important;
  cursor: not-allowed !important;
}
#chat {
  bottom: 30px;
  position: fixed;
  right: 30px;
  z-index: 1;
}
#chat img {
  height: 80px;
  width: 80px;
}
#videochat {
  height: 100%;
  text-align: center;
  width: 100%;
}
#videochat #localVideo, #videochat #remoteVideo {
  height: 100%;
  position: relative;
  width: 100%;
}
#remoteVideo:-webkit-full-screen,#remoteVideoIE:-webkit-full-screen,  #remoteVideoIE:mozFullScreen,#remoteVideoPatient:mozFullScreen,#remoteVideo:mozFullScreen,#localVideo:mozFullScreen, .fancybox-inner:-webkit-full-screen, .fancybox-wrap:-webkit-full-screen, .fancybox-wrap, .fancybox-wrap {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
}
/*PRUEBAS */
video::-webkit-media-controls {
  display:none !important;
}
.icon-fullscreen-alt, .icon-fullscreen-exit-alt, .icon-play, .icon-pause, .icon-volume, .icon-volume-2 {
 /* font-family: 'icomoon';*/
  background: #d63826;
  border-radius: 50px;
  background-size: 30px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-fullscreen-alt:before {
  content: url('/img/fullscreenw.png');
}
.icon-fullscreen-exit-alt:before {
  content: url('/img/exitfullscreenw.png');
}
.icon-play:before {
  content: "play";
}
.icon-pause:before {
  content: "pause";
}
.icon-volume:before {
  content: url('/img/mutew.png');
}
.icon-volume-2:before {
  content: url('/img/soundw.png');
}

button {
  vertical-align: middle;
  background-color: transparent;
  color: white;
  margin:0 1%;
  font-size: 1.2em;
}

.custom-video {
  height: 100%;
  width: 100%;
  /*position: relative;
  height: 260px;
  width: 610px;
  margin: 40px auto;*/
  background-color: white;
}

video {
  display: block;
}

.custom-video::full-screen {
  width: 100%;
  height: 100%;
}

::-moz-full-screen .custom-video {
  width: 100%;
  height: 100%;
}

.custom-video::-moz-full-screen {
  width: 100%;
  height: 100%;
}

.custom-video::-webkit-full-screen {
  width: 100%;
  height: 100%;
}

/*#mycontrols {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: .8em;
  width: 20%;
  min-height: 40px;
  padding: 10px 5px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2147483647;
}*/
#mycontrols {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: .8em;
    width: 20%;
    min-height: 40px;
    padding: 10px 5px;
    background-color: transparent;
    /*z-index: 999999;*/
    z-index: 2147483647;
}

input[type=range] {
  border-radius: 2px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(255, 255, 255, 0.7);
  height: 1px;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  vertical-align: middle;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  -moz-appearance: none;
  background-color: white;
  height: 1px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
  border: 0;
}

input[type=range].light::-moz-range-thumb {
  box-shadow: 0 0 8px 2px white;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: white;
  border: 0;
}

input[type=range].light::-webkit-slider-thumb {
  box-shadow: 0 0 8px 2px white;
}

input[type=range]:active::-moz-range-track {
  background: orange;
}

.seeker {
  position: relative;
  width: 65%;
  margin: 0 1%;
  z-index: 0;
  display: none;
  margin-right: 5px;
  margin: 0 10px;
}

.seekbar {
  z-index: 3;
  position: relative;
  width: 100%;
  background-color: transparent !important;
}

.progressbar, .bufferbar {
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  pointer-events: none;
  height: 1px;
  z-index: 2;
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #c0392b;
}
.progressbar::-moz-progress-bar, .bufferbar::-moz-progress-bar {
  background: #c0392b;
}
.progressbar::-webkit-progress-bar, .bufferbar::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.1);
}
.progressbar::-webkit-progress-value, .bufferbar::-webkit-progress-value {
  background: #c0392b;
}

.bufferbar {
  z-index: 1;
  color: #aaa;
}
.bufferbar::-moz-progress-bar {
  background: #aaa;
}
.bufferbar::-webkit-progress-value {
  background: #aaa;
}

.volumebar {
  width: 8%;
  margin: 0 1%;
  display: none;
}

/*hide controls from shadow DOM in webkit browsers*/
/* hides controls only in fullscreen, but shows them in normal screen even if controls is set to false*/
/*the most specific pseudo-element to target video controls on full screen*/
video::-webkit-media-controls-enclosure {
  display: none !important;
}
.custom-video-controls {
  z-index: 2147483647;
}
/*END PRUEBAS*/
#playpause { display: none !important;}

#videochat > div#title {
  color: white;
  font-size: 20px;
  left: 40%;
  position: absolute;
  top: 3%;
  width: 300px;
  z-index: 2;
}
#custom-video > .buttons {
  bottom: 10px;
  height: 50px;
  left: 41%; /*29%;*/
  position: absolute;
  width: 150px; /*350px;*/
  z-index: 2147483647;
}
#custom-video > .buttons > #answerButton, 
#custom-video > .buttons > #declineButton {
  background: #d63826 url('/img/phone.png') no-repeat center;
  background-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
    -webkit-border-radius:50px; 
}
#custom-video > .buttons > #answerButton {
  background-color: #2b8c36;
  margin-right: 50px;
}
#custom-video > .buttons > #declineButton {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
    /*margin-right: 50px;*/
}
#custom-video > .buttons > #muteButton {
  background: #d63826 url('/img/soundw.png') no-repeat center;
  background-size: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0 50px 0 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
    -webkit-border-radius:50px; 
}
#custom-video > .buttons > #fullscreenButton {
  background: #d63826 url('/img/fullscreenw.png') no-repeat center;
  background-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
    -webkit-border-radius:50px; 
}
#error {
  background-color: #f44242;
  color: white;
  display: none;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}
#loading {
  display: flex;
  height: 100%;
  width: 100%;
}
#loading > img {
  height: 221px;
  margin: auto;
  width: 221px;
}
#modal {
  background-color: black;
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  position: absolute;
  z-index: 8011;
}
#message {
  display: none;
  height: auto;
  left: 5%;
    position: absolute;
    text-align: center;
    top: 23%;
    width: 282px;
    z-index: 8012;
}
#message > img {
  height: 300px;
  width: 282px;
}
#message > h1 {
  color: white;
  font-size: 27px;
  font-weight: normal;
}
#message > a {
  color: white;
  float: right;
  font-size: 20px;
  text-decoration: none;
}
.forChrome {
    top: 12% !important;
}


.custom-videoPatient {
  width: 100%;
  background-color: white;
}

.custom-videoPatient::full-screen {
  width: 100%;
  height: 100%;
}

::-moz-full-screen .custom-videoPatient {
  width: 100%;
  height: 100%;
}

.custom-videoPatient::-moz-full-screen {
  width: 100%;
  height: 100%;
}

.custom-videoPatient::-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#custom-videoPatient > .buttons {
  bottom: 10px;
  height: 50px;
  left: 41%; /*29%;*/
  position: absolute;
  width: 150px; /*350px;*/
  z-index: 2147483647;
}
#custom-videoPatient > .buttons > #answerButton, 
#custom-videoPatient > .buttons > #declineButton {
  background: #d63826 url('/img/phone.png') no-repeat center;
  background-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
    -webkit-border-radius:50px; 
}
#custom-videoPatient > .buttons > #answerButton {
  background-color: #2b8c36;
  margin-right: 50px;
}
#custom-videoPatient > .buttons > #declineButton {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
    /*margin-right: 50px;*/
}
#custom-videoPatient > .buttons > #muteButton {
  background: #d63826 url('/img/soundw.png') no-repeat center;
  background-size: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0 50px 0 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
        -webkit-border-radius:50px; 
}
#custom-videoPatient > .buttons > #fullscreenButton {
  background: #d63826 url('/img/fullscreenw.png') no-repeat center;
  background-size: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  float: left;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50px;
  -moz-border-radius:50px;
    -webkit-border-radius:50px; 
}
#remoteVideoPatient { 
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100%;
 
}

@media (min-aspect-ratio: 16/9) {
  #remoteVideoPatient { height: 90%;}
}
@media (max-aspect-ratio: 16/9) {
  #remoteVideoPatient { width: 100%; }
}

#remoteVideoIE { 
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 100%;
 
}
@-moz-document url-prefix(){
    #remoteVideoPatient { 
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
@media (min-aspect-ratio: 16/9) {
  #remoteVideoIE { height: 90%; top:  110px;}
}
@media (max-aspect-ratio: 16/9) {
  #remoteVideoIE { width: 100%; }
}

.dvsidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 110px; /* Stay at the top */
    right: -200px;
    background-color: #FFFFFF;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the dvsidenav */
    background-repeat: no-repeat;
    border-left: 20px solid #3051A6;
}

/* The navigation menu links */
.dvsidenav a {
    padding: 60px 8px 8px 10px;
    width: 180px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    background-color: #FFFFFF;
    transition: 0.3s; 
    white-space:nowrap;
}

/* When you mouse over the navigation links, change their color */
.dvsidenav a:hover {
    color: #000;
}
.dvsidenav a img {
    cursor: pointer;
    display: block;  
    height:30px; 
    width:30px;
    float: left;
}
.normal {
    background-color: #000000;    
}
.success {
    background-color: #2b8c36;
}
.warning{
    background-color: #f4df42;    
}
.error {
    background-color:#d63826;  
}
/* On smaller screens, where height is less than 450px, change the style of the dvsidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .dvsidenav {padding-top: 15px;}
    .dvsidenav a {font-size: 18px;}
}

#imgTool{
    height:30px;
    width: 30px;
    position:absolute;
    top: 4px;
    left: 4px;
}

#divTool{
    height: 38px;
    width: 38px;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px;
    left: -42px;
    z-index: 2;
    border-radius: 20px;
}
#divReconnect{
    display: none;
    position: absolute;
    top: 150px;
    left: 25px;
    background-color: white;  
    font-size: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}
#divPhysicianStatus{
    left: 25px;
    top:130px;
    height: 22px;
    position: absolute;
    font-size: 18px;
}
#spPhysicianStatus{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px;
    height: 22px;
    width: 80px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    float: left;
    padding:5px 4px 3px 3px;
    margin-top: -3px;
}
#spPhysicianStatusText{
    color:#000;
    float: left
}
#divBW{
    height: auto; 
    left: 40%; 
    position: absolute; 
    text-align: center; 
    top: 23%; 
    width: 30%; 
    z-index: 8012;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    display: none;
}
#imgLoading{
    height:120px;
}
#modalPhys {
  background-color: black;
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  position: fixed;
  z-index: 8011;
}
@supports (object-fit: cover) {
  #remoteVideoPatient {
    object-fit: cover;
  }
}

@supports (object-fit: cover) {
  #remoteVideoIE {
    object-fit: cover;
  }
}